---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">

    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quisquam asperiores expedita minima iure! Ab aperiam dolore voluptate doloribus praesentium, maiores, nesciunt, adipisci nemo quas temporibus nihil qui officiis debitis labore rerum provident cumque illo omnis. Repellendus ducimus officiis unde vero eius tempore enim impedit deserunt similique animi! Accusamus, obcaecati.
    </p>

</Layout>